/*These are my referenced classes and ids for the html file to look for*/
/*Color for the Header is #50EDFF
Color for the menu bar is #38ACFF*/

/*Ahmad Wagdy HW2*/

body {
}

header {
	background-color:#50EDFF;
	margin-top:10px;
	text-align:center; 
	padding-right:80px;
	Padding-left:80px;
	border: solid 1px black;
	overflow:hidden;
}

h1 {
	text-align:center;	
	font-size: 4em; 
	font-weight:bold; 
	color:#2C63FF;
}

h2 {
	text-align:center;	
	font-weight:bold; 
	color:#2C63FF;
	font-size: 2em;
}

p {
	font-size:1.2em;
}

/*html list formatting to be a horizontal list*/

#navbar{
	background-color: #38ACFF; 
	text-align:center; 
	padding-right:80px;
	Padding-left:80px;
	border: solid 1px black;
	overflow:hidden;
}
ul#menuitems { 
	margin: .5cm; 
}

#menuitems li { 
	padding:40px; 
	display:inline; 
	font-weight:bold; 
	text-align:center; 
	font-size:1.15em;
}

/* Page Formatting*/

#leftside{
	float:left;
	width:20%;
	overflow:hidden;
	padding:14px;
}

#rightside{	

	width:70%;
	float:left;
	overflow:hidden;
	padding:10px;
}

/*Photo formatting*/

.borders {
	background: black;
	text-align:center;
	width: 300px;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 10px;	
}
/*photo caption formatting*/
#b{
	font-weight:bold;
	text-align:center;
}

/*Resume Formatting*/

#resume {
	width:80%; 
	margin:0 auto; 
	padding:30px; 
	text-align:left; 
	font-size:1.2em;
}

#content_header{
	
	font-size:2em;
	padding:20px;
	padding-left:0px
}

#positionBold {
	font-weight:bold;
	padding:5px;
	padding-left:0px
}