/*These are my referenced classes and ids for the html file to look for*/
/* The color for body, blue 2879E8
Color for the Header is 50EDFF
Color for the menu bar is #38ACFF*/

body {

	
}

header {
	background-color:#50EDFF;
	margin-top:10px;
	text-align:center; 
	padding-right:80px;
	Padding-left:80px;
	border: solid 1px black;
	overflow:hidden;
}

h1 {
	text-align:center;	
	font-size: 4em; 
	font-weight:bold; 
	color:#2C63FF;
}

h2 {
	text-align:center;	
	font-weight:bold; 
	color:#2C63FF;
	font-size: 2em;
	
}

p {
	
	font-size:1.2em;
}

li {
	
	display: inline;
	padding: 14px;
}
#navbar{
	background-color: #036; 
	width:100%;
	overflow:hidden;
}

#menuitems {
	overflow:hidden;
	display:block; 
	font-weight:bold;
	text-align:center; 
	font-variant:small-caps;
	padding:8px; 
	background-color:#38ACFF;
	margin: 0 auto;
	
}

#leftside{
	float:left;
	width:20%;
	overflow:hidden;
	padding:14px;

}

#rightside{	

	width:70%;
	float:left;
	overflow:hidden;
	padding:10px;
}






/*Photo formatting*/


.borders {
	background: black;
	text-align:center;
	width: 300px;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 10px;	
}

figcaption {
	text-align:center;
	font-weight:bold;
	
	
}

